---

# Install terraform
terraform_binary_install: true
terraform_binary_version: '0.12.26'
terraform_binary_platform: 'linux_amd64'

# Where to deploy terraform resource files
terraform_config_dir: 'terraform'

# Delete existing resources before deploying new ones
terraform_purge: false

# Which environment we're going to deploy
terraform_cloud_provider: 'azure'

# Azure cloud provider default variables
# Azure storage blob for synchronized tfstate
azure_tfstate_resource_group_name: "terraform-tfstate"
azure_tfstate_resources:
  - provider
  - resource_group
  - storage
  - storage_container
# Azure infrastructure details
azure_resources:
  - provider
  - resource_group
  - storage
  - additional_storage
  - network
  - network_sec_group
  - availability_set
azure_vpn_resources:
  - virtualnetwork_gw
  - localnetwork_gw
azure_resource_group_name: "azure-resource-group"
azure_location: ''
azure_subscription_id: ''
azure_client_id: ''
azure_client_secret: ''
azure_tenant_id: ''
azure_network_sec_group_name: 'network_sec_group'
azure_storage_account_name: 'mystorageaccount'
azure_public_ips: []
azure_vnets:
  - name: 'vnet'
    addr_space: '192.168.0.0/24'
    subnets:
      - name: 'subnet_server'
        prefix: '192.168.0.0/24'
    gateway_subnet:
      - name: 'subnet_gateway'
        prefix: '192.168.0.248/29'
        gw_name: 'vnet_gw'

# Azure key vault
azure_key_vault_enable: false
azure_key_vault_name: 'myazurevault'
azure_key_vault_keyname: 'myazurevaultkey'

# Azure VM default variables
azure_vm_admin_username: 'adminuser'
azure_vm_admin_password: '4dm1n!'
azure_vm_disable_password_authentication: true
# Azure VM image to deploy. By default CentOS 7.7 are used, customize it in
# the inventory group or host variables. The list of images is available via
# 'az vm image list' command.
azure_vm_image:
  publisher: 'OpenLogic'
  offer: 'CentOS'
  sku: '7_7-gen2'
  version: '7.7.2020042901'
# Ansible groups to be included for Azure vms_<group-name>.tf file generation
azure_vms_groups:
  - 'all'

# Azure MySQL/MariaDB Databases definition
# (https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/mysql_server)
# (https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/mariadb_server)
#azure_database_servers:
#  - name: 'server1-name'
#    kind: 'MariaDB'
#    version: '10.2'

#    # MySQL/MariaDB common parameters
#    admin_user: 'admin'
#    admin_password: 'password'
#    sku: 'B_Gen5_2'
#    storage_mb: 5120
#    auto_grow: 'true'
#    backup_retention: 7
#    geo_redundant_backup: 'false'
#    public_access: 'false'
#    ssl: 'true'
#
#    # For replicas
#    create_mode: 'Default'
#    creation_source_id: ''
#    restore_point_in_time: ''
#
#    # MySQL specific parameters
#    encryption: 'true'
#    ssl_minimal_tls: 'TLS1_2'
#
#    # Databases definitions
#    databases:
#      - name: 'exampledb1'
#        charset: 'utf8'
#        collation: 'utf8_unicode_ci'
