{% for keepalived_vrrp_script in keepalived_vrrp_scripts %}
vrrp_script {{ keepalived_vrrp_script.name }} {
    script '{{ keepalived_vrrp_script.command }}';
    interval {{ keepalived_vrrp_script.interval }}
    weight {{ keepalived_vrrp_script.weight }}
}

{% endfor -%}

{% for keepalived_vrrp_instance in keepalived_vrrp_instances %}
vrrp_instance {{ keepalived_vrrp_instance.name }} {
    interface {{ keepalived_vrrp_instance.interface }}
    state {{ keepalived_vrrp_instance.state }}
    virtual_router_id {{ keepalived_vrrp_instance.virtual_router_id }}
    priority {{ keepalived_vrrp_instance.priority }}

    authentication {
        auth_type {{ keepalived_vrrp_instance.auth_type }}
        auth_pass {{ keepalived_vrrp_instance.auth_pass }}
    }

    track_script {
      {{ keepalived_vrrp_instance.track_script }}
    }

    virtual_ipaddress {
{% for virtual_ipaddress in keepalived_vrrp_instance.virtual_ipaddresses %}
	{{ virtual_ipaddress.address }} dev {{ virtual_ipaddress.interface }}
{% endfor %}
    }
}

{% endfor -%}
