# Subnet that will be created:
{% for network in terraform_libvirt_networks %}
# {{ network.name }} {{ network.mode }} {% for address in network.addresses %}"{{ address }}"{%- if not loop.last -%}, {%- endif -%}{% endfor %}
{% endfor %}

{% for network in terraform_libvirt_networks %}
resource "libvirt_network" "{{ network.name }}" {
    name      = "{{ network.name }}"
    mode      = "{{ network.mode }}"
{% if network.domain is defined %}
    domain    = "{{ network.domain }}"
{% endif %}
    addresses = [{% for address in network.addresses %}"{{ address }}"{%- if not loop.last -%}, {%- endif -%}{% endfor %}]

    dhcp {
      enabled = {{ network.dhcp_enabled | default('true') }}
    }

{% if network.dns_enabled is defined and network.dns_enabled | bool %}
    dns {
      enabled = {{ network.dns_enabled }}
￼     local_only = {{ network.dns_local_only | default('false') }}

{% for forwarder in libvirt_network.dns_forwarders %}
      forwarders {
        address = "{{ forwarder.address }}"
        domain = "{{ forwarder.domain }}"
      } 
{% endfor %}

{% for host in libvirt_network.dns_hosts %}
      hosts  {
        hostname = "{{ host.hostname }}"
        ip = "{{ host.ip }}"
      }
{% endfor %}

{% for route in libvirt_network.routes %}
      routes {
        cidr = "{{ route.cidr }}"
        gateway = "{{ route.gateway }}"
      }
{% endfor %}

    }
{% endif %}
}
{% endfor %}
