# Virtual machine creation blocks for group terraform
{% for host in groups[terraform_group_name] %}

{% set vm = hostvars[host].terraform_libvirt %}

# {{ vm.name }}
resource "libvirt_domain" "{{ vm.name }}" {
  name                         = "{{ vm.name }}"
  memory                       = "{{ vm.memory }}"
  vcpu                         = "{{ vm.vcpu }}"

{% if vm.cloudinit_disk is defined %}
  cloudinit = libvirt_cloudinit_disk.{{ vm.cloudinit_disk }}.id
{% endif %}

{% for interface in vm.network_interfaces %}
  network_interface {
    network_id     = libvirt_network.{{ interface.network_id }}.id
{% if interface.addresses is defined %}
    addresses      = [{% for address in interface.addresses %}"{{ address }}"{%- if not loop.last -%}, {%- endif -%}{% endfor %}]
{% endif %}
{% if interface.mac is defined %}
    mac            = "{{ interface.mac }}"
{% endif %}
{% if interface.wait_for_lease is defined %}
    wait_for_lease = {{ interface.wait_for_lease }}
{% endif %}
  }
{% endfor %}

{% for console in vm.consoles %}
  console {
    type        = "{{ console.type }}"
    target_port = "{{ console.target_port }}"
    target_type = "{{ console.target_type }}"
  }
{% endfor %}

{% for disk in vm.disks %}
  disk {
    volume_id            = libvirt_volume.{{ disk.volume_id }}.id
  }
{% endfor %}

{% for graphic in vm.graphics %}
  graphics {
    type        = "{{ graphic.type }}"
    listen_type = "{{ graphic.listen_type }}"
    autoport    = "{{ graphic.autoport }}"
  }
{% endfor %}
}
{% endfor %}
