# Libvirt general storage volumes
{% for volume in terraform_libvirt_volumes %}

resource "libvirt_volume" "{{ volume.volume_id }}" {
  name = "{{ volume.file }}"
  pool = "{{ volume.pool | default('default') }}"
{% if volume.base_volume_id is defined %}
  base_volume_id = libvirt_volume.{{ volume.base_volume_id }}.id
{% endif %}
{% if volume.source is defined %}
  source = "{{ volume.source }}"
{% endif %}
{% if volume.size is defined %}
  size = "{{ volume.size }}"
{% endif %}
  format = "{{ volume.format | default('raw') }}"

  depends_on = [libvirt_pool.{{ volume.pool | default('default') }}]
}
{% endfor %}
