[Unit]
Description=Disable Transparent Huge Pages (THP)
{% for service in disable_thp_before_services %}
Before={{ service }}.service
{% endfor %}

Before=graylog-server.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c "echo 'never' > /sys/kernel/mm/transparent_hugepage/enabled && echo 'never' > /sys/kernel/mm/transparent_hugepage/defrag"
RemainAfterExit=Yes

[Install]
WantedBy=multi-user.target
