# File managed by Ansible
[maxscale]
threads={{ maxscale_threads }}
admin_enabled={{ maxscale_admin_enabled }}
{% if maxscale_log_enabled|bool %}
log_warning=1
log_notice=1
log_info=1
log_debug=1
{% endif %}

# Servers
{% for node in maxscale_db_hosts %}
[{{ node.name }}]
type=server
address={{ node.address }}
port={{ node.port }}
protocol=mariadbbackend
{% if node.ssl|bool %}
ssl=required
ssl_key={{ node.ssl_key }}
ssl_cert={{ node.ssl_cert }}
ssl_ca_cert={{ node.ssl_ca_cert }}
{% endif %}
{% endfor %}

# Monitors
{% for maxscale_monitor in maxscale_monitors %}
[{{ maxscale_monitor.name }}]
type=monitor
module={{ maxscale_monitor.module }}
servers={{ maxscale_monitor.servers }}
user={{ maxscale_monitor.user }}
password={{ maxscale_monitor.password }}
{% endfor %}

# Services
{% for maxscale_service in maxscale_services %}
[{{ maxscale_service.name }}]
type=service
router={{ maxscale_service.router }}
servers={{ maxscale_service.servers }}
user={{ maxscale_service.user }}
password={{ maxscale_service.password }}
{% endfor %}

# Listeners
{% for maxscale_listener in maxscale_listeners %}
[{{ maxscale_listener.name }}]
type=listener
service={{ maxscale_listener.service }}
protocol={{ maxscale_listener.protocol }}
address={{ maxscale_listener.address }}
port={{ maxscale_listener.port }}
{% endfor %}
