user nginx;
worker_processes auto;
error_log {{ nginx_log_dir }}/error.log;
pid /run/nginx.pid;
include /usr/share/nginx/modules/*.conf;

events {
  worker_connections 1024;
}

http {
  upstream {{ nginx_http_name }} {
    ip_hash;
{% for server in nginx_backend_servers %}
    server {{ server }}:{{ nginx_backend_port }};
{% endfor %}
  }

  server {
    listen {{ nginx_http_port }};

    location / {
      proxy_pass http://{{ nginx_http_name }};
    }
  }

  server {
        listen 10061;
        location /nginx_status {
                stub_status on;
                access_log off;
                allow 127.0.0.1;
                deny all;
        }
   }
}

stream {
{% for stream in nginx_streams %}
  # {{ stream.name }}
  upstream {{ stream.name }} {
{% for server in nginx_backend_servers %}
    server {{ server }}:{{ stream.port }} weight={{hostvars[server]['server_weight']}};
{% endfor %}
  }

  server {
    listen {{ stream.port }}{% if stream.protocol != 'tcp' %} {{ stream.protocol }}{% endif %};
    proxy_pass {{ stream.name }};
    proxy_responses 0;
    error_log {{ nginx_log_dir }}/{{ stream.name }}.log;
  }

{% endfor %}
}
