############################
# GRAYLOG CONFIGURATION FILE
############################

# Server
is_master = {{ graylog_server_is_master }}
node_id_file = /etc/graylog/server/node-id
password_secret = {{ graylog_server_password_secret }}
root_password_sha2 = {{ graylog_server_admin_password }}
root_timezone = {{ graylog_server_timezone }}
plugin_dir = {{ graylog_server_plugin_dir }}
http_bind_address = {{ graylog_server_http_bind_address_ip }}:{{ graylog_server_http_bind_address_port }}
http_publish_uri = {{ graylog_server_http_publish_uri }}
http_external_uri = {{ graylog_server_http_external_uri }}

# Elasticsearch
elasticsearch_shards = {{ graylog_server_elasticsearch_shards }}
elasticsearch_replicas = {{ graylog_server_elasticsearch_replicas }}
elasticsearch_cluster_name = {{ graylog_server_elasticsearch_cluster_name }}
elasticsearch_hosts = {{ graylog_server_elasticsearch_hosts }}

# Buffer
processbuffer_processors = {{ graylog_server_processbuffer_processors }}
outputbuffer_processors = {{ graylog_server_outputbuffer_processors }}
outputbuffer_processor_keep_alive_time = {{ graylog_server_outputbuffer_processor_keep_alive_time }}
outputbuffer_processor_threads_core_pool_size = {{ graylog_server_outputbuffer_processor_threads_core_pool_size }}
outputbuffer_processor_threads_max_pool_size = {{ graylog_server_outputbuffer_processor_threads_max_pool_size }}
inputbuffer_ring_size = {{ graylog_server_inputbuffer_ring_size }}
message_journal_dir = {{ graylog_server_message_journal_dir }}
message_journal_max_age = {{ graylog_server_message_journal_max_age }}
message_journal_max_size = {{ graylog_server_message_journal_max_size }}

# MongoDB
mongodb_uri = {{ graylog_server_mongodb_uri }}

# TLS
#rest_tls_cert_file = /path/to/graylog.crt
#rest_tls_key_file = /path/to/graylog.key
#rest_tls_key_password = secret
