# Local Network Gateway used to map remote host peer to allow Site-to-Site VPN
# and Connections for VnetGW <-> Remote Peer

{% for localnetworkgw in azure_localnetworkgws %}
# {{ localnetworkgw.name }} Local Network Gateway (Remote Peer)
resource "azurerm_local_network_gateway" "{{ localnetworkgw.name }}" {
  depends_on          = [azurerm_virtual_network_gateway.{{ azure_vnet_gw_name }}]
  name                = "{{ localnetworkgw.name }}"
  resource_group_name = azurerm_resource_group.{{ azure_resource_group_name }}.name
  location            = azurerm_resource_group.{{ azure_resource_group_name }}.location
  gateway_address     = "{{ localnetworkgw.remote_peer }}"
  address_space       = [{% for prefix in localnetworkgw.prefix %}"{{ prefix }}"{%- if not loop.last -%}, {%- endif -%}{% endfor %}]
}

# {{ localnetworkgw.name }} Connection
resource "azurerm_virtual_network_gateway_connection" "{{ localnetworkgw.name }}_connection" {
  name                       = "{{ localnetworkgw.name }}_connection"
  resource_group_name        = azurerm_resource_group.{{ azure_resource_group_name }}.name
  location                   = azurerm_resource_group.{{ azure_resource_group_name }}.location
  type                       = "IPSec"
  virtual_network_gateway_id = azurerm_virtual_network_gateway.{{ azure_vnet_gw_name }}.id
  local_network_gateway_id   = azurerm_local_network_gateway.{{ localnetworkgw.name }}.id
  shared_key                 = "{{ localnetworkgw.shared_key }}"
{% if localnetworkgw.protocol is defined %}
  connection_protocol        = "{{ localnetworkgw.protocol }}"
{% endif %}
{% if localnetworkgw.policy is defined %}

  ipsec_policy {
{% for key,value in localnetworkgw.policy.items() %}
    {{ key }} = "{{ value }}"
{% endfor %}
  }
{% endif %}
}

{% endfor -%}
