# Subnet that will be created:
{% for subnet in azure_subnets %}
# {{ subnet.name }} {{ subnet.prefix }}
{% endfor %}

# Virtual network creation block
resource "azurerm_virtual_network" "{{ azure_vnet_name }}" {
  name                = "{{ azure_vnet_name }}"
  address_space       = ["{{ azure_vnet_addr_space }}"]
  location            = azurerm_resource_group.{{ azure_resource_group_name }}.location
  resource_group_name = azurerm_resource_group.{{ azure_resource_group_name }}.name
}

# Subnet creation block(s)
{% for subnet in azure_subnets %}
resource "azurerm_subnet" "{{ subnet.name }}" {
  name                 = "{{ subnet.name }}"
  resource_group_name  = azurerm_resource_group.{{ azure_resource_group_name }}.name
  virtual_network_name = azurerm_virtual_network.{{ azure_vnet_name }}.name
  address_prefix       = "{{ subnet.prefix }}"
}

{% endfor -%}
