resource "azurerm_network_security_group" "{{ azure_network_sec_group_name }}" {
  depends_on          = [azurerm_resource_group.{{ azure_resource_group_name }}]
  name                = "{{ azure_network_sec_group_name }}"
  location            = azurerm_resource_group.{{ azure_resource_group_name }}.location
  resource_group_name = azurerm_resource_group.{{ azure_resource_group_name }}.name
}

{% if azure_securityrules is defined %}
{% for rule in azure_securityrules %}
resource "azurerm_network_security_rule" "{{ rule.name|lower }}" {
  resource_group_name         = azurerm_resource_group.{{ azure_resource_group_name }}.name
  network_security_group_name = azurerm_network_security_group.{{ azure_network_sec_group_name }}.name

  name                       = "{{ rule.name }}"
  priority                   = {{ rule.priority }}
  direction                  = "{{ rule.direction }}"
  access                     = "{{ rule.access }}"
  protocol                   = "{{ rule.protocol }}"
{% if rule.source_port_ranges is defined %}
  source_port_ranges         = [{% for source_port in rule.source_port_ranges %}"{{ source_port }}"{% if not loop.last %},{% endif %}{% endfor %}]
{% else %}
  source_port_range          = "{{ rule.source_port_range }}"
{% endif %}
{% if rule.destination_port_ranges is defined %}
  destination_port_ranges    = [{% for dest_port in rule.destination_port_ranges %}"{{ dest_port }}"{% if not loop.last %},{% endif %}{% endfor %}]
{% else %}
  destination_port_range     = "{{ rule.destination_port_range }}"
{% endif %}
{% if rule.source_address_prefixes is defined %}
  source_address_prefixes    = [{% for address in rule.source_address_prefixes %}"{{ address }}"{% if not loop.last %},{% endif %}{% endfor %}]
{% else %}
  source_address_prefix      = "{{ rule.source_address_prefix }}"
{% endif %}
{% if rule.destination_address_prefixes is defined %}
  destination_address_prefixes = [{% for address in rule.destination_address_prefix %}"{{ address }}"{% if not loop.last %},{% endif %}{% endfor %}]
{% else %}
  destination_address_prefix = "{{ rule.destination_address_prefix }}"
{% endif %}
}

{% endfor %}
{% endif %}
