# Virtual machines network creation blocks for group {{ group_name }}
{% for vm in groups[group_name] %}
{% set vm_basename = vm.split('.')[0] %}
{% for address in hostvars[vm].addresses %}

# {{ vm }} - nic{{ loop.index }} ({{ address.ip }})
{% if address.public_ip is defined %}
# Associated with public IP {{ address.public_ip }}
{% endif %}
resource "azurerm_network_interface" "vm_nic{{ loop.index }}_{{ vm_basename }}" {
  name                  = "nic{{ loop.index }}_{{ vm_basename }}"
  resource_group_name   = azurerm_resource_group.{{ azure_resource_group_name }}.name
  location              = azurerm_resource_group.{{ azure_resource_group_name }}.location

  ip_configuration {
    name                          = "ip1_{{ vm_basename }}"
    subnet_id                     = azurerm_subnet.{{ address.subnet }}.id
    private_ip_address_allocation = "Static"
    private_ip_address            = "{{ address.ip }}"
{% if address.public_ip is defined %}
    public_ip_address_id          = azurerm_public_ip.publicip_{{ address.public_ip }}.id
{% endif %}
{% if loop.length > 1 and loop.index == 1 %}
    primary                       = true
{% endif %}
  }
{% if hostvars[vm].azure_tags is defined %}

  tags = {
{% for key,value in hostvars[vm].azure_tags.items() %}
    {{ key }} = "{{ value }}"
{% endfor %}
  }
{% endif %}
}

# {{ vm }} - nic{{ loop.index }} Security Group
resource "azurerm_network_interface_security_group_association" "{{ vm_basename }}_nic{{ loop.index }}_to_{{ azure_network_sec_group_name }}" {
  network_interface_id      = azurerm_network_interface.vm_nic{{ loop.index }}_{{ vm_basename }}.id
  network_security_group_id = azurerm_network_security_group.{{ azure_network_sec_group_name }}.id
}
{% endfor %}
{% endfor %}
