provider "azurerm" {
  version = "2.0.0"
  features {}
  subscription_id = "{{ azure_subscription_id}}"
  client_id       = "{{ azure_client_id }}"
  client_secret   = "{{ azure_client_secret }}"
  tenant_id       = "{{ azure_tenant_id }}"
}

{% if terraform_tfstate_on_azure_storage_container is defined and
      skip_azure_backend is not defined %}
terraform {
  backend "azurerm" {
    resource_group_name  = "{{ azure_tfstate_resource_group_name }}"
    storage_account_name = "{{ terraform_tfstate_on_azure_storage_container }}"
    container_name       = "{{ terraform_tfstate_on_azure_storage_container }}"
    key                  = "terraform.tfstate"
  }
}
{% endif %}
