resource "azurerm_storage_container" "{{ azure_storage_container_name }}" {
  name                     = "{{ azure_storage_container_name }}"
  storage_account_name     = azurerm_storage_account.{{ azure_storage_account_name }}.name
}
