# This file should be sourced before any Terraform run
export TF_VAR_azure_subscription_id='{{ azure_subscription_id  }}'
export TF_VAR_azure_client_id='{{ azure_client_id  }}'
export TF_VAR_azure_client_secret='{{ azure_client_secret }}'
export TF_VAR_azure_tenant_id='{{ azure_tenant_id }}'
