################################## NETWORK #####################################
bind {{ redis_instance.bind }}
protected-mode yes
port {{ redis_instance.port }}
tcp-backlog {{ redis_instance.tcp_backlog }}
timeout 0
tcp-keepalive {{ redis_instance.tcp_keepalive }}
################################# GENERAL ######################################
daemonize no
supervised systemd
pidfile {{ redis_instance.pidfile }}
loglevel {{ redis_instance.loglevel }}
logfile "{{ redis_instance.logfile }}"
databases 16
always-show-logo yes
################################ SNAPSHOTTING  #################################
#save 900 1
#save 300 10
#save 60 10000
stop-writes-on-bgsave-error yes
rdbcompression yes
rdbchecksum yes
dbfilename dump.rdb
dir {{ redis_instance.working_dir }}
{% if redis_instance.replicaof is defined and redis_instance.cluster_enabled != 'yes' %}
################################# REPLICATION ##################################
replicaof {{ redis_instance.replicaof.host }} {{ redis_instance.replicaof.port }}
replica-serve-stale-data yes
replica-read-only yes
repl-diskless-sync no
repl-diskless-sync-delay 5
repl-disable-tcp-nodelay no
replica-priority 100
{% endif %}
############################# MEMORY MANAGEMENT ################################
maxmemory-policy {{ redis_instance.maxmemory_policy }}
############################# LAZY FREEING #####################################
lazyfree-lazy-eviction no
lazyfree-lazy-expire no
lazyfree-lazy-server-del no
replica-lazy-flush no
############################## APPEND ONLY MODE ################################
appendonly no
appendfilename "appendonly.aof"
appendfsync everysec
no-appendfsync-on-rewrite no
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb
aof-load-truncated yes
aof-use-rdb-preamble no
################################ LUA SCRIPTING  ################################
lua-time-limit 5000
{% if redis_instance.cluster_enabled == 'yes' %}
################################ REDIS CLUSTER  ################################
cluster-enabled {{ redis_instance.cluster_enabled }}
cluster-config-file redis-cluster-master.conf
cluster-node-timeout 15000
{% endif %}
################################## SLOW LOG ####################################
slowlog-log-slower-than 10000
slowlog-max-len 128
################################ LATENCY MONITOR ###############################
latency-monitor-threshold 0
############################# EVENT NOTIFICATION ###############################
notify-keyspace-events ""
############################### ADVANCED CONFIG ################################
hash-max-ziplist-entries 512
hash-max-ziplist-value 64
list-max-ziplist-size -2
list-compress-depth 0
set-max-intset-entries 512
zset-max-ziplist-entries 128
zset-max-ziplist-value 64
hll-sparse-max-bytes 3000
activerehashing yes
client-output-buffer-limit normal 0 0 0
client-output-buffer-limit slave 256mb 64mb 60
client-output-buffer-limit pubsub 32mb 8mb 60
hz 10
aof-rewrite-incremental-fsync yes
