[Unit]
Description=Redis Exporter - {{ redis_instance.name }} instance
After=network.target

[Service]
Type=simple
ExecStart={{ redis_exporter_bin }} -redis.addr={{ redis_instance.exporter_addr }} -set-client-name -skip-tls-verification -export-client-list -include-system-metrics -web.listen-address={{ redis_instance.exporter_web_listen_addr }}
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ redis_instance.exporter_syslog_identifier }}
Restart=on-failure
User={{ redis_instance.exporter_user }}
Group={{ redis_instance.exporter_group }}

[Install]
WantedBy=multi-user.target
