[Unit]
Description=Redis In-Memory Data Store - {{ redis_instance.name }} instance
After=network.target

[Service]
User={{ redis_instance.user }}
Group={{ redis_instance.group }}
ExecStart={{ redis_server_bin }} {{ redis_instance.config_path }}/{{ redis_instance.config_file }}
ExecStop={{ redis_cli_bin }} -p {{ redis_instance.port }} shutdown
Restart=always
LimitNOFILE=64000

[Install]
WantedBy=multi-user.target
