sh.addShard("graylog-shard-rs0/{% for node in es_cluster_interconnect_nodes.split(',') -%}{{ node.strip() }}:{{ mongodb_sn_port }}{%- if not loop.last -%},{%- endif -%}{%- endfor -%}")
sh.enableSharding("graylog")
