---

- name: Install terraform locally
  include_tasks: install.yml
  when:
    - terraform_binary_install | bool

- name: "Create local configurations directory {{ terraform_config_dir }}"
  file:
    path: "{{ terraform_config_dir }}"
    state: directory

- name: Deploy Azure environment
  include_tasks: azure.yml
  when:
    - terraform_cloud_provider == 'azure'
