## File managed by Ansible
[Unit]
Description=Mongo Config Cluster
After=network.target

[Service]
User={{ mongodb_user }}
Group={{ mongodb_group }}
ExecStart=/usr/bin/mongod --config {{ mongodb_cs_config_file }}
PIDFile={{ mongodb_cs_pidfilepath }}/mongod-cs.pid

[Install]
WantedBy=multi-user.target
