---
# File managed by Ansible
# MongoDB Query Router configuration

systemLog:
  destination: file
  logAppend: true
  path: "{{ mongodb_qr_logpath }}/mongos-qr.log"

processManagement:
  fork: false
  pidFilePath: {{ mongodb_qr_pidfilepath }}/mongod-cs.pid

net:
  bindIp: {{ mongodb_qr_bind_ip }}
  port: {{ mongodb_qr_port }}

sharding:
  configDB: {{ mongodb_cs_replica_set_name }}/{{ mongodb_qr_rs_nodes }}
