## File managed by Ansible
# mongod.conf

#where to log
logpath={{ mongodb_logpath }}/mongod.log
logappend=true

# fork and run in background
fork=true

port={{ mongodb_port }}

dbpath={{ mongodb_dbpath }}

# location of pidfile
pidfilepath={{ mongodb_pidfilepath }}/mongod.pid

# Listen to local interface only. Comment out to listen on all interfaces. 
bind_ip={{ mongodb_bind_ip }}

# Disables write-ahead journaling
nojournal={{ mongodb_nojournal }}

# Enables periodic logging of CPU utilization and I/O wait
cpu={{ mongodb_log_cpu }}

# Turn on/off security.  Off is currently the default
#noauth=true
#auth=true

# Inspect all client data for validity on receipt (useful for
# developing drivers)
objcheck={{ mongodb_objcheck }}

# Enable db quota management
quota={{ mongodb_quota }}

# Set oplogging level where n is
#   0=off (default)
#   1=W
#   2=R
#   3=both
#   7=W+some reads
diaglog={{ mongodb_oplogging_level }}

# Ignore query hints
nohints={{ mongodb_ignore_query_hints }}

# Enable the HTTP interface (Defaults to port 28017).
httpinterface={{ mongodb_http_interface }}

# Turns off server-side scripting.  This will result in greatly limited
# functionality
noscripting={{ mongodb_disable_serverside_scripting }}

# Turns off table scans.  Any query that would do a table scan fails.
notablescan={{ mongodb_disable_tablescan }}

# Disable data file preallocation.
noprealloc={{ mongodb_disable_preallocation }}

{% if mongodb_nssize is defined %}
# Specify .ns file size for new databases.
nssize={{ mongodb_nssize }}
{% endif %}

{% if mongodb_replica_set_name is defined %}
# Replication Options

# in replicated mongo databases, specify the replica set name here
replSet={{ mongodb_replica_set_name }}
# maximum size in megabytes for replication operation log
oplogSize={{ mongodb_replica_operation_log_size }}
# path to a key file storing authentication info for connections
# between replica set members
keyFile={{ mongodb_replica_members_key_file }}
{% endif %}
