---
# mongod.conf
# File managed by Ansible

systemLog:
  destination: file
  path: "{{ mongodb_cs_logpath }}/mongodb.log"
  logAppend: true

processManagement:
  fork: true
  pidFilePath: {{ mongodb_cs_pidfilepath }}/mongod-cs.pid

net:
  bindIp: {{ mongodb_cs_bind_ip }}
  port: {{ mongodb_cs_port }}

storage:
  dbPath: {{ mongodb_cs_dbpath }}

sharding:
  clusterRole: configsvr

replication:
  replSetName: {{ mongodb_cs_replica_set_name }}
  

{% if mongodb_cs_config is defined %}
{{ mongodb_cs_config | to_nice_yaml }}
{% endif %}
