---
# mongod-sn.conf
# File managed by Ansible

systemLog:
  destination: file
  path: "{{ mongodb_sn_logpath }}/mongodb.log"
  logAppend: true

processManagement:
  fork: true
  pidFilePath: {{ mongodb_sn_pidfilepath }}/mongod-sn.pid

net:
  bindIp: {{ mongodb_sn_bind_ip }}
  port: {{ mongodb_sn_port }}

storage:
  dbPath: {{ mongodb_sn_dbpath }}
{% if mongodb_sn_wired_tiger_enable|bool %}
  wiredTiger:
    engineConfig:
      configString: cache_size={{ mongodb_sn_wired_tiger_cache_size }}
{% endif %}

sharding:
  clusterRole: shardsvr

replication:
  replSetName: {{ mongodb_sn_replica_set_name }}
  

{% if mongodb_sn_config is defined %}
{{ mongodb_sn_config | to_nice_yaml }}
{% endif %}
