## File managed by Ansible
[Unit]
Description=Mongo Shard Node
After=network.target

[Service]
User={{ mongodb_user }}
Group={{ mongodb_group }}
ExecStart=/usr/bin/mongod --config {{ mongodb_sn_config_file }}
PIDFile={{ mongodb_cs_pidfilepath }}/mongod-sn.pid

[Install]
WantedBy=multi-user.target
