## File managed by Ansible
[Unit]
Description=Mongo Query Router
After=network.target

[Service]
User={{ mongodb_user }}
Group={{ mongodb_group }}
ExecStart=/usr/bin/mongos --config {{ mongodb_qr_config_file }}
PIDFile={{ mongodb_qr_pidfilepath }}/mongos-qr.pid

[Install]
WantedBy=multi-user.target
