provider "azurerm" {
  version = "2.0.0"
  features {}
  subscription_id = "{{ azure_subscription_id}}"
  client_id       = "{{ azure_client_id }}"
  client_secret   = "{{ azure_client_secret }}"
  tenant_id       = "{{ azure_tenant_id }}"
}
