# VM(s) that will be created:
{% for vm in groups['rabbitmq'] %}
# {{ vm }} - {{ hostvars[vm].internal_ip }}, {{ hostvars[vm].vm_size }}, disk1: {{ hostvars[vm].disk1_size }}GB
{% endfor %}

# NIC creation blocks
{% for vm in groups['rabbitmq'] %}
# Set primary_ip {{ vm }}
resource "azurerm_network_interface" "vm_nic1_{{ vm }}" {
  name                  = "nic1_{{ vm }}"
  resource_group_name   = var.resource_group_name
  location              = var.location

  ip_configuration {
    name                          = "ip1_{{ vm }}"
    subnet_id                     = azurerm_subnet.{{ hostvars[vm].subnet }}.id
    private_ip_address_allocation = "Static"
    private_ip_address            = "{{ hostvars[vm].internal_ip }}"
  }
}

# Set Security Group to NIC
resource "azurerm_network_interface_security_group_association" "{{ vm }}_nic1_to_{{ azure_network_sec_group_name }}" {
  network_interface_id      = azurerm_network_interface.vm_nic1_{{ vm }}.id
  network_security_group_id = azurerm_network_security_group.{{ azure_network_sec_group_name }}.id
}

{% if hostvars[vm].secondary_ip is defined %}
# Set secondary_ip {{ vm }}
resource "azurerm_network_interface" "vm_nic2_{{ vm }}" {
  name = "nic2_{{ vm }}"
  resource_group_name = var.resource_group_name
  location = var.location

  ip_configuration {
    name                          = "ip2_{{ vm }}"
    subnet_id                     = azurerm_subnet.{{ hostvars[vm].alternative_subnet }}.id
    private_ip_address_allocation = "Static"
    private_ip_address            = "{{ hostvars[vm].secondary_ip }}"
  }
}
{% endif %}

{% endfor -%}

# Virtual machine creation blocks
{% for vm in groups['rabbitmq'] %}

# {{ vm }} resource block
resource "azurerm_virtual_machine" "{{ vm }}" {
  depends_on                   = [azurerm_network_interface.vm_nic1_{{ vm }}]
  name                         = "{{ vm }}"
  vm_size                      = "{{ hostvars[vm].vm_size }}"
  resource_group_name          = var.resource_group_name
  location                     = var.location
{% if hostvars[vm].secondary_ip is defined %}
  network_interface_ids        = [azurerm_network_interface.vm_nic1_{{ vm }}.id, azurerm_network_interface.vm_nic2_{{ vm }}.id]
{% else %}
  network_interface_ids        = [azurerm_network_interface.vm_nic1_{{ vm }}.id]
{% endif %}
  primary_network_interface_id = azurerm_network_interface.vm_nic1_{{ vm }}.id
  #availability_set_id          = azurerm_availability_set.avset1.id

  # Delete data disk at vm deletion
  delete_os_disk_on_termination = true
  delete_data_disks_on_termination = true

  storage_image_reference {
    publisher = "Canonical"
    offer     = "UbuntuServer"
    sku       = "18.04-LTS"
    version   = "latest"
  }

  storage_os_disk {
    name              = "osdisk_{{ vm }}"
    disk_size_gb      = "{{ hostvars[vm].osdisk_size }}"
    caching           = "ReadWrite"
    create_option     = "FromImage"
    managed_disk_type = "Standard_LRS"
  }

  os_profile {
    computer_name  = "{{ vm }}"
    admin_username = "mmuladmin"
    admin_password = "Terraform1234!"
  }

  os_profile_linux_config {
    disable_password_authentication = false
  }

  boot_diagnostics {
    enabled             = true
    storage_uri = azurerm_storage_account.{{ azure_storage_account_name }}.primary_blob_endpoint
  }
}

# {{ vm }} disk1_{{ vm }} managed disk
resource "azurerm_managed_disk" "disk1_{{ vm }}" {
  depends_on           = [azurerm_resource_group.{{ azure_resource_group_name }}]
  name                 = "disk1_{{ vm }}"
  resource_group_name  = var.resource_group_name
  location             = var.location
  storage_account_type = "Standard_LRS"
  create_option        = "Empty"
  disk_size_gb         = "{{ hostvars[vm].disk1_size }}"
}

# {{ vm }} disk1_{{ vm }} attach disk
resource "azurerm_virtual_machine_data_disk_attachment" "disk1_{{ vm }}" {
  depends_on         = [azurerm_managed_disk.disk1_{{ vm }}]
  managed_disk_id    = azurerm_managed_disk.disk1_{{ vm }}.id
  virtual_machine_id = azurerm_virtual_machine.{{ vm }}.id
  lun                = "0"
  caching            = "ReadWrite"
}
{% endfor %}
