resource "azurerm_storage_container" "{{ azure_storage_container_name }}" {
  depends_on               = [azurerm_resource_group.{{ azure_resource_group_name }}]
  name                     = "{{ azure_storage_container_name }}"
  storage_account_name     = azurerm_storage_account.{{ azure_storage_account_name }}.name
}
