variable "resource_group_name" {
  description = "Azure Resource Group Name"
  default     = {{ azure_resource_group_name }}
}

variable "location" {
  description = "Insert Location"
  default     = "West Europe"
}
