# Gateway subnet creation block (required for vpn P2S) please notice that
# the name "GatewaySubnet" is mandatory for Azure
resource "azurerm_subnet" "{{ azure_gw_subnet_name }}" {
  depends_on           = [azurerm_virtual_network.{{ azure_vnet_name }}]
  name                 = "GatewaySubnet"
  resource_group_name  = var.resource_group_name
  virtual_network_name = azurerm_virtual_network.{{ azure_vnet_name }}.name
  address_prefix       = "{{ azure_gw_subnet_addr_prefix }}"
}

# Public IP for Virtual Network Gateway
resource "azurerm_public_ip" "{{ azure_vnet_gw_name }}_publicip" {
  depends_on          = [azurerm_resource_group.{{ azure_resource_group_name }}]
  name                = "{{ azure_vnet_gw_name }}_publicip"
  resource_group_name = var.resource_group_name
  location            = var.location
  # VNGateway supports only "Dynamic" allocation ip
  allocation_method   = "Dynamic"
}


# Virtual Network Gateway for Site-to-Site VPN
resource "azurerm_virtual_network_gateway" "{{ azure_vnet_gw_name }}" {
  depends_on          = [azurerm_public_ip.{{ azure_vnet_gw_name }}_publicip]
  name                = "{{ azure_vnet_gw_name }}"
  resource_group_name = var.resource_group_name
  location            = var.location
  type                = "Vpn"
  vpn_type            = "RouteBased"
  active_active       = false
  enable_bgp          = false
  sku                 = "VpnGw1"

  ip_configuration {
    public_ip_address_id = azurerm_public_ip.{{ azure_vnet_gw_name }}_publicip.id
    subnet_id            = azurerm_subnet.gateway_subnet.id
  }
}

# Data resource to map ip address (*.ip_address) to Local Network Gateway
data "azurerm_public_ip" "{{ azure_vnet_gw_name }}_publicip" {
  depends_on          = [azurerm_virtual_network_gateway.{{ azure_vnet_gw_name }}]
  name                = azurerm_public_ip.{{ azure_vnet_gw_name }}_publicip.name
  resource_group_name = var.resource_group_name
}

# Will print data resource values after deploy is completed
output "public_ip_address" {
  value = data.azurerm_public_ip.{{ azure_vnet_gw_name }}_publicip.ip_address
}
