driftfile {{ ntp_config_driftfile }}

statistics {{ ntp_config_statistics }}

{% for item in ntp_config_filegen %}
filegen {{ item }}
{% endfor %}

{% for item in ntp_config_server %}
server {{ item }}
{% endfor %}

{% for item in ntp_config_restrict %}
restrict {{ item }}
{% endfor %}

{% for item in ntp_config_disable %}
disable {{ item }}
{% endfor %}
